{% extends "layout.twig" %}

{% block content %}

<section class="machine-bg">
	<div class="col-sm-3 col-sm-offset-9 text-center" style="padding:10px;background-color:rgba(3,3,3,.8)">
		<h2>Nos machines</h2>
	</div>
</section>

<div class="divider" style="border-top : 1px solid;"></div>

<div class="container">

	<div class="row">
	
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="{{ url('index.index') }}web/img/machine/be35rp.jpg" alt="Photo de la machine BE 35 RP">
	      <div class="caption">
	        <h3>BE 35 RP</h3>
	        <p>Machine classique de géotechnique permettant tous type de sondage : carottage, tarière, tricône, taillant, ....</p>
	        <p><a href="{{ url('index.index') }}web/pdf_machine/BE35RP.pdf" class="btn btn-co" role="button">Plus de détails</a></p>
	      </div>
	    </div>
	  </div>
	  
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="{{ url('index.index') }}web/img/machine/klemm_kw2000.jpg" alt="Photo de la machine Klemm KW2000">
	      <div class="caption">
	        <h3>KLEMM KW 2000</h3>
	        <p>Machine puissante de grande taille permettant des sondages profonds, 60 mètres ou plus, notamment au taillant en rotopercussion.</p>
	        <p><a href="{{ url('index.index') }}web/pdf_machine/KLEMM_KW2000.pdf" class="btn btn-co" role="button">Plus de détails</a></p>
	      </div>
	    </div>
	  </div>
	  	  
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="{{ url('index.index') }}web/img/machine/klemm_kr701.jpg" alt="Photo de la machine Klemm KR701">
	      <div class="caption">
	        <h3>KLEMM KR 701</h3>
	        <p>Machine puissante de taille moyenne permettant des sondages profonds, 60 mètres ou plus, notamment au taillant en rotopercussion.</p>
	        <p><a href="{{ url('index.index') }}web/pdf_machine/KLEMM_KR701.pdf" class="btn btn-co" role="button">Plus de détails</a></p>
	      </div>
	    </div>
	  </div>
	  	  
	</div>
	
	<div class="row">
	
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="{{ url('index.index') }}web/img/machine/atlas_copco.jpg" alt="Photo du compresseur mobile Atlas COPCO">
	      <div class="caption">
	        <h3>Compresseur Atlas COPCO</h3>
	        <p>Matériel nécessaire pour alimenter les machines pneumatiques moyen et petit DRILLS.</p>
	        <p><a href="{{ url('index.index') }}web/pdf_machine/ATLAS_COPCO.pdf" class="btn btn-co" role="button">Plus de détails</a></p>
	      </div>
	    </div>
	  </div>
	  	  
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="{{ url('index.index') }}web/img/machine/moyen_drill.jpg" alt="Photo de la machine moyen DRILL">
	      <div class="caption">
	        <h3>Moyen DRILL mât de 2,75m</h3>
	        <p>Machine pneumatique démontable pour sondages géotechniques en lieux d'accès difficiles.</p>
	        <p><a href="{{ url('index.index') }}web/pdf_machine/Moyen_DRILL.pdf" class="btn btn-co" role="button">Plus de détails</a></p>
	      </div>
	    </div>
	  </div>
	  	  
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="{{ url('index.index') }}web/img/machine/petit_drill.png" alt="Photo de la machine petit DRILL">
	      <div class="caption">
	        <h3>Petit DRILL mât de 2,00m</h3>
	        <p>Machine pneumatique démontable pour sondages géotechniques en lieux d'accès difficiles.</p>
	        <p><a href="{{ url('index.index') }}web/pdf_machine/Petit_DRILL.pdf" class="btn btn-co" role="button">Plus de détails</a></p>
	      </div>
	    </div>
	  </div>
	  	  
	</div>

	<div class="row">
	
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="{{ url('index.index') }}web/img/machine/d9000.jpg" alt="Photo du D9000 Ménard">
	      <div class="caption">
	        <h3>D9000 Ménard</h3>
	        <p>Petite machine de géotechnique pour faire des sondages à la tarière, au tricône ou au taillant en rotation.</p>
	        <!-- <p><a href="{{ url('index.index') }}web/pdf_machine/.pdf" class="btn btn-co" role="button">Plus de détails</a></p> -->	      
	      </div>
	    </div>
	  </div>
	  	  
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="{{ url('index.index') }}web/img/machine/apafor.jpg" alt="Photo de la machine APAFOR">
	      <div class="caption">
	        <h3>APAFOR 16CV</h3>
	        <p>Petite machine de géotechnique adaptée aux sondages à la tarière.</p>
	        <!-- <p><a href="{{ url('index.index') }}web/pdf_machine/.pdf" class="btn btn-co" role="button">Plus de détails</a></p> -->
	      </div>
	    </div>
	  </div>
	  	  
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="{{ url('index.index') }}web/img/machine/explo_220.jpg" alt="Photo de la machine explo 220">
	      <div class="caption">
	        <h3>Explo 220</h3>
	        <p>Machine électrique démontable pour sondages géotechniques en lieux d'accès difficiles.</p>
	        <!-- <p><a href="{{ url('index.index') }}web/pdf_machine/.pdf" class="btn btn-co" role="button">Plus de détails</a></p> -->
	      </div>
	    </div>
	  </div>
	  	  
	</div>

	<div class="row">
	
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="{{ url('index.index') }}web/img/machine/penetrometre_g100.jpg" alt="Photo du pénétromètre G100">
	      <div class="caption">
	        <h3>Pénétromètre G100</h3>
	        <p>Matériel lourd pour réaliser les battages au pénétromètre.</p>
	        <!-- <p><a href="{{ url('index.index') }}web/pdf_machine/.pdf" class="btn btn-co" role="button">Plus de détails</a></p> -->	      
	       </div>
	    </div>
	  </div>
	  	  
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img data-src="holder.js/235x180" alt="Photo de la machine pénétromètre DL30">
	      <div class="caption">
	        <h3>Pénétromètre DL30</h3>
	        <p>Matériel léger démontable pour réaliser les battages au pénétromètre.</p>
	        <!-- <p><a href="{{ url('index.index') }}web/pdf_machine/.pdf" class="btn btn-co" role="button">Plus de détails</a></p> -->
	      </div>
	    </div>
	  </div>
	  	  
	</div>

</div>
	
{% endblock %}